@import "_reset";
@import "_noscript";
@import "_mixins";

// Colors
$color-1: #fff;
$color-2: #000;
// $color-3: #7F0037;
$color-3: #A30046;
$color-4: #313BA9;
$color-5: #3AA171;
$color-6: rgba(0, 0, 0, 0.12);


// Fonts
// Roboto
@import "fontscript";
$rbm: RobotoMono, monospace;
$ops: OpenSans, Arial, sans-serif;


// Transitions
$timer-hover: 0.1s;
$timer-menu: 0.5s;
$timer-modal: 0.6s;
$timer-select: 0.2s;


// Media breakpoints (desktop first):
// 1275
// 700
// 537
// 480

$mobile: 768;

// $media-header: $mobile;
// $media-header2: 390;
// $media-menu: $mobile;

// $media-footer: 850;
// $media-footer2: 530;


@import "_icons";
@import "_main";
@import "_print";
