@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?cnvl4t');
  src:  url('../fonts/icons.eot?cnvl4t#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?cnvl4t') format('truetype'),
    url('../fonts/icons.woff?cnvl4t') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-rss:before {
  content: "\e901";
}
.icon-dribbble:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
